<div class="dashboard-body d-flex flex-column align-items-center w-100">
  <h2>My offers</h2>
  <div class="dashboard-offers-container row d-flex justify-content-center w-100">
    <% @offers.each do |offer| %>
      <div class="dashboard-listing card text-decoration-none col-3 m-2 p-1">
        <img src="<%= offer.listing.game.cover.url %>" alt="<%= offer.listing.game.name %> cover art">
        <h4><%= offer.listing.game.name %></h4>
        <div>
          <%= link_to listing_path(offer.listing) do %>
            <i class="fa-solid fa-circle-info fa-2xl" style="color: #74C0FC;"></i>
          <% end %>
          <i class="fa-solid fa-trash-can fa-xl" style="color: #ba1255;"></i>
          <%# <button class="create-offer-button btn btn-primary btn-gradient-oval">Cancel this offer</button> %>
        </div>
        <p><strong>Status: </strong><%= offer.status %></p>
        <p><strong>Share your experience ⭐⭐⭐</strong></p>
        <div>
          <%= simple_form_for [@review], html: { class: "p-0 row" } do |f| %>
            <div class="col-md-6">
              <%= f.input :rating, label: false, collection: 1..5 %>
              <%= f.input :offer_id, as: :hidden, input_html: { value: offer.id } %>
            </div>
            <div class="col-md-6">
              <%= f.submit "Rate this owner"%>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
