<div class="dashboard-body d-flex flex-column align-items-center w-100" data-dashboard-target="listings">
  <h2>My listings</h2>
  <div class="create-listings-container d-flex flex-column position-relative" data-controller="create-listing">
    <button class="create-listing-button btn btn-primary" data-create-listing-target="create-listing-button" data-action="click->create-listing#renderForm">Create a listing</button>
    <%= render "create_listing" %>
  </div>

  <div class="dashboard-listings-container row d-flex justify-content-center w-100">
    <% @listings.each do |listing| %>
    <%# dashboard_listing_offers_path(listing) %>
      <%= link_to offers_path(listing), class: "dashboard-listing card text-decoration-none col-2 m-2 p-1" do %>
        <img src="<%= listing.game.cover.url %>" alt="<%= listing.game.name %> cover art">
        <h4><%= listing.game.name %></h4>
        <p><strong>Offers: </strong><%= listing.offers.count %></p>
      <% end %>
    <% end %>
  </div>
</div>
