<div class="container my-4 sliders-container d-flex flex-column" data-controller="slider-filters">
  <div class="row mb-3 slider-container">
    <div class="col">
      <label class="" for="price-range">Max price (¥)</label>
      <div class="position-relative">
        <input type="range" min="1" max="25" value="<%= @params["price"] ? @params["price"] : 5 %>" class="price-slider" id="price-range" name="price-range" data-slider-filters-target="priceSlider">
        <span class="position-absolute slider-min" data-slider-filters-target="priceMin">100</span>
        <span class="position-absolute slider-value" data-slider-filters-target="price"><%= @params["price"].to_i * 100 %></span>
        <span class="position-absolute slider-max" data-slider-filters-target="priceMax">2500</span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label class="form-label" for="distance">Max distance (kms)</label>
      <div class="position-relative">
        <input type="range" min="1" max="100" value="<%= @params["distance"] ? @params["distance"] : 30 %>" class="distance-slider" id="distance" name="distance" data-slider-filters-target="distanceSlider">
        <span class="slider-min" data-slider-filters-target="distanceMin">1</span>
        <span class="slider-value" data-slider-filters-target="distance"><%= @params["distance"] %></span>
        <span class="slider-max" data-slider-filters-target="priceMax">100</span>
      </div>
    </div>
  </div>
</div>

<div class=" row mb-3 duration-container">
  <div class="col">
    <label for="duration" class="form-label">Duration (days)</label>
    <div class="input-group">
      <input type="number" class="form-control" placeholder="From" data-filter-listings-target="minDuration" value="<%= @params["minDuration"] %>">
      <span class="input-group-text">to</span>
      <input type="number" class="form-control" placeholder="To" data-filter-listings-target="maxDuration" value="<%= @params["maxDuration"] %>">
    </div>
  </div>
</div>

<div class="row mb-3">
    <div class="col">
      <label class="form-label">Platforms</label>
      <div class="form-check">
        <% @platform_checkboxes.each do |checkbox| %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="<%= checkbox[:id] %>" name="<%= checkbox[:name] %>" data-platform-id="<%= checkbox[:name] %>" <%= "checked" if @params["platforms"] && @params["platforms"].split(",").include?(checkbox[:name]) %>>
            <label class="form-check-label" for="<%= checkbox[:id] %>"><%= checkbox[:platform] %></label>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div class="game-checkboxes-container">

</div>
