<div class="slidecontainer d-flex align-items-center justify-content-evenly">
  <label class="" for="price-range">Price range</label>
  <input type="range" min="1" max="100" value="50" class="price-range-slider" id="price-range" name="price-range">
</div>

<div class="slidecontainer d-flex align-items-center justify-content-evenly">
  <label class="" for="distance">Distance</label>
  <input type="range" min="1" max="100" value="50" class="distance-slider" id="distance" name="distance">
</div>

<div class="platform-checkboxes-container">
  <% @platform_checkboxes.each do |checkbox| %>
  <div class="d-flex">
    <input type="checkbox" id=<%= checkbox[:id] %> name=<%= checkbox[:name] %> class="platform-checkboxes me-2" data-platform-id=<%= checkbox[:name] %>>
    <label for=<%= checkbox[:id] %>><%= checkbox[:platform] %></label>
  </div>
  <% end %>
</div>

<div class="game-checkboxes-container">

</div>
