<% if @query.present? %>
  <h2>Search Results for "<%= @query %>":</h2>

  <% if @listings.any? %>
    <div class="row w-100" data-sort-listings-target="searchResultsContainer">
      <% @listings.each do |listing| %>
        <div class="search-card col-md-2" data-sort-listings-target="searchCard">
          <div class="card mb-4">
            <% if listing.game.cover.present? %>
              <%= image_tag listing.game.cover.url, class: 'card-img-top', alt: listing.game.name %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= listing.game.name %></h5>
              <p class="listing-price card-text">Price: <%= number_to_currency(listing.price, unit: "¥", format: "%u%n") %></p>
              <p class="card-text">Maximum Rental Period: <span class="rental-period"><%= listing.max %></span> days</p>
              <%= link_to 'View Listing', listing_path(listing), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No listings found.</p>
  <% end %>
<% end %>
