<div class ="container">
  <h1 class="text-center my-5 card-title"><%= @listing.game.name %></h1>
  <div class="d-flex justify-content-center">
    <div class="card-container m-1" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%=@listing.game.cover.url %>" class="img-fluid" alt="game-cover-img">
        </div>
        <div class="col-md-8">
          <div class="card-body d-flex flex-column">
            <div class="row m-3">
              <div class="col-4 col-sm-4">
                <p class="card-text bold">Game Title</p>
              </div>
              <div class="col-8 col-sm-8">
                <p class="card-text"><%= @listing.game.name %></p>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-4 col-sm-4">
                <p class="card-text bold">Description</p>
              </div>
              <div class="col-8 col-sm-8">
                <p class="card-text"><%= @listing.description %></p>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-4 col-sm-4">
                <p class="card-text bold">Rental Price</p>
              </div>
              <div class="col-8 col-sm-8">
                <p class="card-text bold"> $ <%= @listing.price %></p>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-4 col-sm-4">
                <p class="card-text bold">Maximum Rental Period</p>
              </div>
              <div class="col-8 col-sm-8">
                <p class="card-text"> <%= @listing.max %> days</p>
              </div>
            </div>
            <hr>
            <div class="row m-3">
              <div class="col-4 col-sm-4">
                <p class="card-text bold">Game Owner</p>
              </div>
              <div class="col-8 col-sm-8">
                <p class="card-text"><%= @listing.user.username %></p>
              </div>
            </div>
            <div data-controller="create-offer">
              <button class="create-offer-button btn btn-gradient-oval m-3"
                      data-action="click->create-offer#renderForm">
                      Rent this game
              </button>
              <%= render "create_offer" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-5">
    <%= link_to "Back", :back || "/", class:"btn btn-gradient-rectangle" %>
  </div>
</div>
