<div class="user-update-form">
  <%= simple_form_for(current_user, url: user_path(current_user), method: :put, html: { multipart: true }) do |f| %>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input :photo, as: :file, label: 'Photo', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.label :location_address, "Location" %>
      <%= f.text_field :location_address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :current_password, "Current Password" %>
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
    </div>
    <%= f.submit "Update", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
