<!-- BANNER -->
<div class="banner">
  <%= image_tag 'banner.png', alt: 'Banner Image', class: 'img-responsive' %>
  <%= render "shared/search_input" %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <% if user_signed_in? %>
        <%=link_to "Create a Listing", class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Sign up to Create a Listing", class: "btn btn-primary" %>
      <% end %>


      <% if @query.present? %>
        <h2>Search Results for "<%= @query %>":</h2>

        <% if @listings.any? %>
          <div class="row">
            <% @listings.each do |listing| %>
              <div class="col-md-2">
                <div class="card mb-4">
                  <% if listing.game.cover.present? %>
                    <%= image_tag listing.game.cover.url, class: 'card-img-top', alt: listing.game.name %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= listing.game.name %></h5>
                    <p class="card-text">Price: <%= number_to_currency(listing.price, unit: "¥", format: "%u%n") %></p>
                    <%= link_to 'View Listing', listing_path(listing), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>No listings found.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
