<!-- BANNER -->
<div class="banner position-relative">
  <%= image_tag 'banner.png', alt: 'Banner Image', class: 'img-fluid w-100' %>
  <%= render "shared/search_input" %>
</div>

<!-- CAROUSEL -->
<div id="carouselWrapper"
  class="carousel-wrapper"
  data-controller="home"
  data-action="mouseenter->home#show mouseleave->home#hide">
  <h2 class="carousel-title">Top Picks</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @carousel_groups.each_with_index do |group, index| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @carousel_groups.each_with_index do |group, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row">
            <% group.each do |listing| %>
              <div class="col-12 col-sm-4 col-md-4 col-lg-2">
                <div class="card mb-4 shadow-sm">
                  <% if listing.game.cover.present? %>
                    <%= image_tag listing.game.cover.url, class: 'card-img-top', alt: listing.game.name %>
                  <% end %>
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <h5 class="card-title mb-0"><%= listing.game.name %></h5>
                      <p class="card-text listing-price"><%= number_to_currency(listing.price, unit: "¥", format: "%u%n") %></p>
                    </div>
                    <%= link_to 'Details', listing_path(listing), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev carousel-control" data-home-target="controls" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel-control" data-home-target="controls" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<!-- CAROUSEL FOR GENRES -->
<% @valid_carousels.each_with_index do |carousel, index| %>
  <div id="carouselWrapper"
    class="carousel-wrapper"
    data-controller="home"
    data-action="mouseenter->home#show mouseleave->home#hide">

    <!-- Genre Title -->
    <h2 class="genre-title text-center mb-4"><%= carousel[:genre].name %></h2>

    <div id="carouselGenre<%= index %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% carousel[:groups].each_with_index do |group, group_index| %>
          <button type="button" data-bs-target="#carouselGenre<%= index %>" data-bs-slide-to="<%= group_index %>"
            class="<%= 'active' if group_index == 0 %>" aria-current="<%= 'true' if group_index == 0 %>"
            aria-label="Slide <%= group_index + 1 %>"></button>
        <% end %>
      </div>

      <div class="carousel-inner">
        <% carousel[:groups].each_with_index do |group, group_index| %>
          <div class="carousel-item <%= 'active' if group_index == 0 %>">
            <div class="row">
              <% group.each do |listing| %>
                <div class="col-12 col-sm-4 col-md-4 col-lg-2">
                  <div class="card mb-4 shadow-sm">
                    <% if listing.game.cover.present? %>
                      <%= image_tag listing.game.cover.url, class: 'card-img-top', alt: listing.game.name %>
                    <% end %>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title"><%= listing.game.name %></h5>
                      <p class="card-text"><%= number_to_currency(listing.price, unit: "¥", format: "%u%n") %></p>
                      <%= link_to 'Details', listing_path(listing), class: 'btn btn-primary mt-2' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev carousel-control" type="button" data-bs-target="#carouselGenre<%= index %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next carousel-control" type="button" data-bs-target="#carouselGenre<%= index %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
<% end %>

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <% if @query.present? %>
        <h2>Search Results for "<%= @query %>":</h2>
        <% if @listings.any? %>
          <div class="row">
            <% @listings.each do |listing| %>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <% if listing.game.cover.present? %>
                    <%= image_tag listing.game.cover.url, class: 'card-img-top', alt: listing.game.name %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= listing.game.name %></h5>
                    <p class="card-text">Price: <%= number_to_currency(listing.price, unit: "¥", format: "%u%n") %></p>
                    <%= link_to 'View Listing', listing_path(listing), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>No listings found.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
