<!-- BANNER -->
<div class="banner">
  <%= image_tag 'banner.png', alt: 'Banner Image', class: 'img-responsive' %>
  <div class="search-bar-container">
    <div class="search-bar" data-controller="create-listing">
      <%= simple_form_for :search, url: root_path, method: :get, html: { class: ' form-inline' } do |f| %>
        <%= f.input :query, label: false, placeholder: "Search for listings...", input_html: { value: params[:query], class: 'form-control mr-sm-2', data: { "create-listing-target": "gameNameInput" }, list: "game-list"}  %>
        <%= f.submit "Search", class: "btn btn-primary my-2 my-sm-0", data: { target: "create-listing.create-listing-button" } %>
      <% end %>
    </div>
  </div>
</div>

<datalist id="game-list"></datalist>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <% if user_signed_in? %>
        <%=link_to "Create a Listing", class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Sign up to Create a Listing", class: "btn btn-primary" %>
      <% end %>


      <% if @query.present? %>
        <h2>Search Results for "<%= @query %>":</h2>

        <% if @listings.any? %>
          <div class="row">
            <% @listings.each do |listing| %>
              <div class="col-md-2">
                <div class="card mb-4">
                  <% if listing.game.cover.present? %>
                    <%= image_tag listing.game.cover.url, class: 'card-img-top', alt: listing.game.name %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= listing.game.name %></h5>
                    <p class="card-text">Price: <%= number_to_currency(listing.price, unit: "¥", format: "%u%n") %></p>
                    <%= link_to 'View Listing', listing_path(listing), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>No listings found.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
